@{
	ViewBag.Title = "Home Page";
}

<br />

<form action="/Home/DrawNewCards">
	<input type="hidden" value="@ViewBag.deckID" />
	<button type="submit" class="btn btn-default">Draw New Cards</button>
</form>

<table border="1" class="table">
	<tr>
		@{
			for (int i = 0; i < 5; i++)
			{
				<th>@ViewBag.CardDraw[i].value of @ViewBag.CardDraw[i].suit</th>
			}
		}
	</tr>

	<tr>
		@{
			for(int i=0; i < 5; i++)
			{
				<td><img src="@ViewBag.CardDraw[i].image" /></td>
			}
		}
	</tr>
</table>